---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/favorites/create.json
    body:
      encoding: UTF-8
      string: id=659416641416089600
    headers:
      Authorization:
      - OAuth oauth_consumer_key="3zM8Bfctd4FsGDERkjih6KlrX", oauth_nonce="3053dabf84770307d4da957eab992f7f",
        oauth_signature="%2BnJEVifWSSyGzD8tVtnMRJ0T%2BOo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446093600", oauth_token="84891952-N6wBz8PfWIXDlXdMzCJdChM0Bcj4nlQdbDCx4d2yj",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 29 Oct 2015 04:40:01 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 428033832f3db2d81ab217327d440660
      X-Response-Time:
      - '309'
      X-Transaction:
      - 4ba2e04f79511a17
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Wed Oct 28 17:09:13 +0000 2015","id":659416641416089600,"id_str":"659416641416089600","text":"What
        Do You Assume? https:\/\/t.co\/KyDFMZiwgc #questionoftheweek #leadership","source":"\u003ca
        href=\"http:\/\/www.hootsuite.com\" rel=\"nofollow\"\u003eHootsuite\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":16968625,"id_str":"16968625","name":"Johanna
        Rothman","screen_name":"johannarothman","location":"Boston, MA","description":"I
        help managers and leaders do reasonable things that work. Author of Hiring
        Geeks That Fit, Manage Your Project Portfolio, Manage It!, and more...","url":"http:\/\/t.co\/YlQUASb7E0","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/YlQUASb7E0","expanded_url":"http:\/\/www.jrothman.com","display_url":"jrothman.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":8216,"friends_count":531,"listed_count":621,"created_at":"Sat
        Oct 25 16:56:12 +0000 2008","favourites_count":3,"utc_offset":-18000,"time_zone":"Central
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":4568,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"642D8B","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme10\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme10\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/976962064\/Johanna.Rothman_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/976962064\/Johanna.Rothman_normal.jpg","profile_link_color":"FF0000","profile_sidebar_border_color":"65B0DA","profile_sidebar_fill_color":"7AC3EE","profile_text_color":"3D1957","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[{"text":"questionoftheweek","indices":[44,62]},{"text":"leadership","indices":[63,74]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/KyDFMZiwgc","expanded_url":"http:\/\/ow.ly\/TXwTx","display_url":"ow.ly\/TXwTx","indices":[20,43]}]},"favorited":true,"retweeted":false,"possibly_sensitive":false,"lang":"en"}'
  recorded_at: Thu, 29 Oct 2015 04:40:01 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=noobjey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="3zM8Bfctd4FsGDERkjih6KlrX", oauth_nonce="0cfddddf38563735b3be0dab0116e8f9",
        oauth_signature="n%2FhdEhODZFXG8GBakwIRsqZUKNc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446093601", oauth_token="84891952-N6wBz8PfWIXDlXdMzCJdChM0Bcj4nlQdbDCx4d2yj",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 29 Oct 2015 04:40:01 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 9f5348a9e00cec6a6f899c7e7f28464f
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1446094501'
      X-Response-Time:
      - '41'
      X-Transaction:
      - a331e940202dd241
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":84891952,"id_str":"84891952","name":"Jason Wright","screen_name":"noobjey","location":"Boulder,
        CO","profile_location":{"id":"fd70c22040963ac7","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/fd70c22040963ac7.json","place_type":"unknown","name":"Boulder,
        CO","full_name":"Boulder, CO","country_code":"","country":"","contained_within":[],"bounding_box":null,"attributes":{}},"description":"Developer","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":54,"friends_count":65,"listed_count":0,"created_at":"Sat
        Oct 24 17:00:47 +0000 2009","favourites_count":152,"utc_offset":-21600,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":92,"lang":"en","status":{"created_at":"Wed
        Oct 28 23:42:31 +0000 2015","id":659515619767812096,"id_str":"659515619767812096","text":"@lu[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="3zM8Bfctd4FsGDERkjih6KlrX", oauth_nonce="a7d710b23314a3877b03edff809ac50f",
        oauth_signature="N53X%2FKxDmLA7J83oTaUK2pX3Ntw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446093601", oauth_token="84891952-N6wBz8PfWIXDlXdMzCJdChM0Bcj4nlQdbDCx4d2yj",
        oaut[...]
