---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=This+is+just+a+%28to+lazy+to+create+a+test+account%29+playing+with+the+api+test+tweet%2C+please+ignore.
    headers:
      Authorization:
      - OAuth oauth_consumer_key="3zM8Bfctd4FsGDERkjih6KlrX", oauth_nonce="84fa441dc7bdb55b25b147fa810c5fa4",
        oauth_signature="YCgnyh0kHv77qtptLrfgfQtUbg8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446052315", oauth_token="84891952-N6wBz8PfWIXDlXdMzCJdChM0Bcj4nlQdbDCx4d2yj",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 28 Oct 2015 17:11:56 GMT
      Status:
      - 403 Forbidden
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - f0f8d07a0a16b8aeccfbfa832fcd6e3f
      X-Response-Time:
      - '93'
      X-Transaction:
      - 48d3267d906ae811
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"code":187,"message":"Status is a duplicate."}]}'
  recorded_at: Wed, 28 Oct 2015 17:11:56 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="3zM8Bfctd4FsGDERkjih6KlrX", oauth_nonce="f35eade1559bb2b74f80bdf970e42173",
        oauth_signature="WCHksAGdpClv78aDbqPxcQ%2BJJtA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446052316", oauth_token="84891952-N6wBz8PfWIXDlXdMzCJdChM0Bcj4nlQdbDCx4d2yj",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 28 Oct 2015 17:11:56 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 294e5b02670ac04d5e515f10a417c4ad
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1446053216'
      X-Response-Time:
      - '36'
      X-Transaction:
      - fca84db2e76bd6fd
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Wed Oct 28 17:06:13 +0000 2015","id":659415885572997120,"id_str":"659415885572997120","text":"This
        is just a (to lazy to create a test account) playing with the api test tweet,
        please ignore.","source":"\u003ca href=\"https:\/\/noobtwit.herokuapp.com\"
        rel=\"nofollow\"\u003enoobtwit\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":84891952,"id_str":"84891952","name":"Jason
        Wright","screen_name":"noobjey","location":"Boulder, CO","description":"Developer","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":54,"friends_count":65,"listed_count":0,"created_at":"Sat
        Oct 24 17:00:47 +0000 2009","favourites_count":149,"utc_offset":-21600,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":89,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"1A1B1F","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/488101956\/noobjEdit_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/488101956\/noobjEdit_normal.jpg","profile_link_color":"2FC2EF","profile_sidebar_border_color":"181A1E","profile_sidebar_fill_color":"252429","profile_text_color":"666666","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"}]'
  recorded_at: Wed, 28 Oct 2015 17:11:56 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=noobjey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="3zM8Bfctd4FsGDERkjih6KlrX", oauth_nonce="e0fd603cb524bc8eb70e021467b9229e",
        oauth_signature="ddRxltdv%2B1I1e%2FzMXrgcm7hwFO8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446052316", oauth_token="84891952-N6wBz8PfWIXDlXdMzCJdChM0Bcj4nlQdbDCx4d2yj",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 28 Oct 2015 17:11:56 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 19b4b0ef045aeda6bb4bc4c42aa23214
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1446053095'
      X-Response-Time:
      - '76'
      X-Transaction:
      - 99f3eb6a9bbf079d
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":84891952,"id_str":"84891952","name":"Jason Wright","screen_name":"noobjey","location":"Boulder,
        CO","profile_location":{"id":"fd70c22040963ac7","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/fd70c22040963ac7.json","place_type":"unknown","name":"Boulder,
        CO","full_name":"Boulder, CO","country_code":"","country":"","contained_within":[],"bounding_box":null,"attributes":{}},"description":"Developer","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":54,"friends_count":65,"listed_count":0,"created_at":"Sat
        Oct 24 17:00:47 +0000 2009","favourites_count":149,"utc_offset":-21600,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":89,"lang":"en","status":{"created_at":"Wed
        Oct 28 17:06:13 +0000 2015","id":659415885572997120,"id_str":"659415885572997120","text":"Thi[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="3zM8Bfctd4FsGDERkjih6KlrX", oauth_nonce="6dc83818036bfdcc7089874a0075b160",
        oauth_signature="qUrbDheTQgYLe6CgCXiGH17uzD8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446052316", oauth_token="84891952-N6wBz8PfWIXDlXdMzCJdChM0Bcj4nlQdbDCx4d2yj",
        oauth_[...]
