---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=This+is+just+a+%28to+lazy+to+create+a+test+account%29+playing+with+the+api+test+tweet%2C+please+ignore.
    headers:
      Authorization:
      - OAuth oauth_consumer_key="3zM8Bfctd4FsGDERkjih6KlrX", oauth_nonce="7ff5ee56560b6685e196153cd8403095",
        oauth_signature="JUgzQx%2BkA2zvNrHZy9zQfc8ABcA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446051971", oauth_token="84891952-N6wBz8PfWIXDlXdMzCJdChM0Bcj4nlQdbDCx4d2yj",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 28 Oct 2015 17:06:13 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - de609c867f08983b6c9af5be4b6f3fbd
      X-Response-Time:
      - '178'
      X-Transaction:
      - 8d876cdff97d0060
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Wed Oct 28 17:06:13 +0000 2015","id":659415885572997120,"id_str":"659415885572997120","text":"This
        is just a (to lazy to create a test account) playing with the api test tweet,
        please ignore.","source":"\u003ca href=\"https:\/\/noobtwit.herokuapp.com\"
        rel=\"nofollow\"\u003enoobtwit\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":84891952,"id_str":"84891952","name":"Jason
        Wright","screen_name":"noobjey","location":"Boulder, CO","description":"Developer","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":54,"friends_count":65,"listed_count":0,"created_at":"Sat
        Oct 24 17:00:47 +0000 2009","favourites_count":149,"utc_offset":-21600,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":89,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"1A1B1F","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/488101956\/noobjEdit_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/488101956\/noobjEdit_normal.jpg","profile_link_color":"2FC2EF","profile_sidebar_border_color":"181A1E","profile_sidebar_fill_color":"252429","profile_text_color":"666666","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"}'
  recorded_at: Wed, 28 Oct 2015 17:06:13 GMT
recorded_with: VCR 2.9.3
