---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="3zM8Bfctd4FsGDERkjih6KlrX", oauth_nonce="3220c097ee33a66caa012b740eec5f77",
        oauth_signature="ztsc8t1bjk3ndlhTnrzTcc9Q3ZM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446044846", oauth_token="84891952-N6wBz8PfWIXDlXdMzCJdChM0Bcj4nlQdbDCx4d2yj",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 28 Oct 2015 15:07:26 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 5e245c5571d4af44695d23993e45944b
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1446045746'
      X-Response-Time:
      - '123'
      X-Transaction:
      - 3a369cecd66f6194
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Wed Oct 28 15:06:00 +0000 2015","id":659385634696658944,"id_str":"659385634696658944","text":"Midwest
        Web People: MinneWebCon is amazing! Please submit an idea for your talk! We
        want to hear from you! Yes you! https:\/\/t.co\/gwsyiwZc2C","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":14434210,"id_str":"14434210","name":"Zachscary
        Johnson","screen_name":"zacharyjohnson","location":"Minneapolis, MN","description":"Creative
        Developer at Zachstronaut LLC. Games: @JoggernautsGame and http:\/\/t.co\/wTYntD3Mbn
        Committees: @IGDATC and @MinneWebCon","url":"http:\/\/t.co\/UkoYEQkSW1","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/UkoYEQkSW1","expanded_url":"http:\/\/www.zachstronaut.com\/","display_url":"zachstronaut.com","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/wTYntD3Mbn","expanded_url":"http:\/\/GoGetYourPants.com","display_url":"GoGetYourPants.com","indices":[68,90]}]}},"protected":false,"followers_count":2158,"friends_count":1191,"listed_count":176,"created_at":"Fri
        Apr 18 15:32:03 +0000 2008","favourites_count":2174,"utc_offset":-18000,"time_zone":"Central
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":11613,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/3904857\/twitterfooter.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/3904857\/twitterfooter.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/634404543246176256\/Bjr5fiDs_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/634404543246176256\/Bjr5fiDs_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14434210\/1432189755","profile_link_color":"009900","profile_sidebar_border_color":"FF00FF","profile_sidebar_fill_color":"111111","profile_text_color":"AAAAAA","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"quoted_status_id":659200540199493632,"quoted_status_id_str":"659200540199493632","quoted_status":{"created_at":"Wed
        Oct 28 02:50:30 +0000 2015","id":659200540199493632,"id_str":"659200540199493632","text":"We''re
        looking for session and workshop presenters! Folks like you! Submissions due
        Friday: https:\/\/t.co\/2kmxUizV3g https:\/\/t.co\/CyfvURspxQ","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":15983649,"id_str":"15983649","name":"MinneWebCon","screen_name":"MinneWebCon","location":"Minneapolis,
        Minnesota","[...]
