<div class="container" id="login-page">

  <div class="row" id="login-button">
    <%= render 'layouts/flash' %>
  </div>

  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6" id="login-button">
      <%= link_to "Login with Twitter", login_path, class: "btn btn-default btn-lg btn-block" %>
    </div>
    <div class="col-log-3"></div>
  </div>
</div>
